 /* Couleur de fond du site */
 body {
    background-color: #0B2341; /* Couleur de fond de la page */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Limite de la largeur du formulaire */
.form-width {
    max-width: 400px;
    width: 100%;
}

/* Style du formulaire */
.card {
    background-color: #ED8C00; /* Couleur de fond du formulaire */
    border: 1px solid rgba(255, 0, 0, 0.3);
    border-radius: 0;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style des champs d'entrée */
.form-control, .form-select {
    border-radius: 0;
    border: 1px solid #333;
}

/* Bouton stylisé */
.btn-outline-red {
    color: black;
    border: 2px solid red;
    background-color: transparent;
}

.btn-outline-red:hover {
    background-color: red;
    color: white;
}

/* Style de la liste déroulante */
.form-select {
    background-color: #f8f9fa;
    font-size: 16px;
    padding: 8px 12px;
    color: #333;
}

/* Style du titre */
.txtTitre {
    font-family: 'AlumniSans-ExtraBold', sans-serif;
}

.form-select:focus {
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    outline: none;
}