 /* Centrage du formulaire */
.text-center.my-4.d-flex.justify-content-between {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


/* Style pour la boîte de connexion */
.login-box {
    background-color: #0B2341; /* Couleur de fond mise à jour */
    padding: 10px;
    border:2px solid #78C6E0;
    border-radius: 0;
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

/* Style des titres */
.titre1 {
    font-family: 'AlumniSans-ExtraBold', sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.close{
    text-align: end;
    color:white;
    background: none;
	border: none;
	margin-left: 330;
    padding:0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Style des champs de saisie */
.form-control {
    background-color: #0B2341;
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Ombre autour du formulaire */
    padding: 10px;
    font-size: 1rem;
    color: white !important;
}
.form-control:focus {
    border-color: #d63384;
    box-shadow: none;
    background-color: #0B2341;
}

.txtPop {
    font-family:'Poppins-Light', 'sans-serif';
    color:white;
}

.txtPop1 {
    font-family:'Poppins-Light', 'sans-serif';
    font-size:0.6rem;
    color:white;
}

/* Style des liens */
.txt a {
    font-family:'Poppins-Light', 'sans-serif';
    color:  #d63384;
    text-decoration: none;
}
.txt a:hover {
    text-decoration: underline;
}

.btn-custom {
    background-color: #0B2341;
    color: white;
    font-family: 'Poppins-Light', sans-serif;
    border: 2px solid white;
    padding: 6px 16px; /* Réduit encore la hauteur du bouton */
    font-size: 0.71rem; /* Réduit la taille du texte */
    transition: background-color 0.3s ease;
    max-width: 180px; /* Largeur maximale plus petite pour éviter un effet "bloc" */
    border-radius: 0;
    height: 35px; /* Hauteur plus basse pour correspondre au texte */
    line-height: 1.2; /* Ajuste l’espacement vertical du texte */
}

.btn-custom:hover {
    background-color: #78C6E0;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0B2341; /* Couleur de fond globale */
    display: flex;
    justify-content: center;
    align-items: center;

    /*background-image: url('../images/firm-handshake_1098-18183.jpg'); */
    background-size: cover; /* Ajuste l’image pour qu’elle couvre toute la page */
    background-position: center; /* Centre l’image */
    background-repeat: no-repeat; /* Évite la répétition de l’image */
}

/*.login-form{
    display: none;
}*/