/*Pour les titres et sous-titres*/
@font-face {
    font-family: 'AlumniSans-ExtraBold';
    src: url('../fonts/AlumniSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'AlumniSans-Medium';
    src: url('../fonts/AlumniSans-Medium.ttf') format('truetype');
}


/*Pour les textes courants et sous-titres*/
@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

.titre{
    background-color:rgb(99, 188, 85);
    font-family: 'AlumniSans-Medium';
    font-size: 21pt;
}

label{
    font-family: 'Poppins-Medium';
    font-size: 12pt;
}

.sousTitres{
    font-family: 'Poppins-Light';
    font-size: 11pt;
    color: gray;
}

.description{
    height: 300px;
    padding: 10px;
}

/* Style global */
body {
    background-color: #0B2341;
    margin: 0;
    padding-top: 100px; /* Ajustez cette valeur pour tenir compte de la hauteur du header */
    font-family: 'AlumniSans-ExtraBold', sans-serif;
}

/* Logo dans le coin supérieur gauche */
.logo-container {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Boutons dans le coin supérieur droit */
.top-right {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 9999;
}

/* Centrage du texte dans la page */
.header-center {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'TT Hoves Light', sans-serif;
    color: #0B2341;
    z-index: 9999;
}


/* Positionnement du contenu principal pour qu'il ne se superpose pas avec le header et footer */
.contenu {
    padding-top: 100px; /* Commence après le header */
}

/* Message de bienvenue */
.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    text-align: center;
}

/* Styles des boutons personnalisés */
.btn-custom {
    background-color: #0B2341;
    color: white;
    font-family: 'TT Hoves Light', sans-serif;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: 2px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-custom:hover {
    background-color: #78C6E0;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}


.login-box {
    background-color: #0B2341; /* Couleur de fond mise à jour */
    padding: 10px;
    border:2px solid #0B2341;
    border-radius: 0;
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}