.container {
    display: flex;
}

body {
    background-color: lightblue;
}

/*Partie fournisseur*/

.listeFournisseur{
    border-style: solid;
}

.listeFournisseur{
    border-style: solid;
}

.fournisseur{
    border-style: solid;
    border-color: black;
}