
/*--------------------------------Css page acceueil #Yohann------------*/
  
body {
   /* background-image: url('../images/iStock-2156799963.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Assure que le corps occupe toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    height: 100%;
}



.logo{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 4%;
    height: auto;
    z-index: 2;
    background-color: white;
    margin: 20px;
}

.btn-custom2 {
    background-color: #0B2341;
    color: white;
    font-family: 'TT Hoves Light', sans-serif;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: 2px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Ombre légère */
}
.btn-custom2:hover {
    background-color: #78C6E0;
    color: white;
    transform: translateY(-2px); /* Légère remontée au survol */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5); /* Ombre plus marquée */
}

/* Positionnement du logo en haut à gauche avec un carré blanc autour */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white; /* Fond blanc */
    padding: 10px; /* Espace autour du logo */
    border-radius: 5px; /* Coins légèrement arrondis */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Légère ombre pour le relief */
}

/* Positionnement des boutons en haut à droite */
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

/* Centrage du texte en haut de la page */
.header-center {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'TT Hoves Light', sans-serif;
    color: #0B2341;
}

body{
background-color:  #0B2341;
}

.welcome-message {
    position: absolute;
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste la position */
    font-family: 'AlumniSans-ExtraBold', sans-serif;
    font-size: 2rem; /* Taille de la police */
    color: white; /* Couleur du texte */
    text-align: center; /* Centre le texte */
}