.container {
    display: flex;
}

body {
    background-color: lightblue;
}

/*Partie fournisseur*/

.listeFournisseur{
    border-style: solid;
}

.listeFournisseur{
    border-style: solid;
}

.rechercheUNSPSC{
    border-style: solid;
    border-color: black;
}

.fournisseur{
    border-style: solid;
    border-color: black;
}

.decisionUNSPSC{
    display: flex;
    margin: 0 0 2px 8px;  
}

.pUNSPSC{
    display: flex;
    margin: 0 0 0 0;  /*sinon il y a un margin de 16 en dessous*/
}

.UNSPSC_list{
    cursor: default;
    margin: 0;
}

.hidden {
    display: none;
}

.sections{
    font-family: 'Poppins-Light';
    font-size: 15pt;
    color: gray;
}

